In [51]:
!ls

Data            PGA Stats.ipynb Untitled.ipynb

In [52]:
import pandas as pd
df = pd.read_csv('Data/Book1.csv',encoding='latin1')
df1 = pd.read_csv('Data/Book2.csv', encoding='latin1')

In [53]:
df.head()

   RANKÊ               Name  One Putt %
0      1        Michael Kim       66.67
1      2     Anirban Lahiri       55.56
2      3  Harold Varner III       54.86
3      4          Adam Long       54.63
4      5      Lucas Herbert       52.78

In [54]:
df = df.rename(columns={"RANKÊ": "Rank"})

In [55]:
df

     Rank               Name  One Putt %
0       1        Michael Kim       66.67
1       2     Anirban Lahiri       55.56
2       3  Harold Varner III       54.86
3       4          Adam Long       54.63
4       5      Lucas Herbert       52.78
..    ...                ...         ...
190     5          Aaron Rai       27.78
191     5        David Hearn       27.78
192    10          Danny Lee       27.78
193    11       Cohen Trolio       27.78
194    10       Matt Wallace       25.00

[195 rows x 3 columns]

In [56]:
df1.head()

,RANKÊ HIS WEEK,RANK LAS WEEK,PLAYER NAME,ROUNDS,AVERAGE,SG:OTT,SG:APR,SG:ARG,MEASURED ROUNDS
0,1,NaN,Sam Burns,4,3.706,1.538,2.071,0.097,4.0
1,2,2.0,Max Homa,4,2.635,0.865,1.086,0.684,4.0
2,3,3.0,Hideki Matsuyama,4,2.532,0.501,1.137,0.895,4.0
3,4,1.0,Mito Pereira,8,2.482,0.583,1.477,0.422,8.0
4,5,4.0,Maverick McNealy,4,2.357,0.973,0.529,0.855,4.0

In [57]:
df1.columns

Index(['RANKÊ  HIS WEEK', 'RANK LAS  WEEK', 'PLAYER NAME', 'ROUNDS', 'AVERAGE',
       'SG:OTT', 'SG:APR', 'SG:ARG', 'MEASURED ROUNDS'],
      dtype='object')

In [58]:
df1 = df1.rename(columns={"RANKÊ  HIS WEEK": "Rank This Week", 'RANK LAS  WEEK': 'Rank Last Week', 'PLAYER NAME': 'Name'})
df1

,Rank This Week,Rank Last Week,Name,ROUNDS,AVERAGE,SG:OTT,SG:APR,SG:ARG,MEASURED ROUNDS
0,1,NaN,Sam Burns,4,3.706,1.538,2.071,0.097,4.0
1,2,2.0,Max Homa,4,2.635,0.865,1.086,0.684,4.0
2,3,3.0,Hideki Matsuyama,4,2.532,0.501,1.137,0.895,4.0
3,4,1.0,Mito Pereira,8,2.482,0.583,1.477,0.422,8.0
4,5,4.0,Maverick McNealy,4,2.357,0.973,0.529,0.855,4.0
...,...,...,...,...,...,...,...,...,...
190,191,NaN,Sam Saunders,2,-4.155,0.407,-2.759,-1.802,2.0
191,192,152.0,Michael Duncan,2,-4.590,-1.612,-1.501,-1.476,2.0
192,193,155.0,Michael Kim,1,-4.827,-2.834,-1.743,-0.250,1.0
193,194,156.0,"Ted Potter, Jr.",2,-5.315,-1.503,-1.216,-2.596,2.0
194,195,NaN,Richy Werenski,2,-5.589,-2.052,-2.701,-0.835,NaN

In [59]:
df.isna().value_counts()

Rank   Name   One Putt %
False  False  False         195
dtype: int64

In [60]:
df.isnull().sum()

Rank          0
Name          0
One Putt %    0
dtype: int64

In [61]:
df.isnull().sum()

Rank          0
Name          0
One Putt %    0
dtype: int64

In [62]:
df = df.merge(df1.drop_duplicates(), on=['Name','Name'], 
                   how='left', indicator=True)

In [63]:
df

,Rank,Name,One Putt %,Rank This Week,Rank Last Week,ROUNDS,AVERAGE,SG:OTT,SG:APR,SG:ARG,MEASURED ROUNDS,_merge
0,1,Michael Kim,66.67,193,155.0,1,-4.827,-2.834,-1.743,-0.250,1.0,both
1,2,Anirban Lahiri,55.56,60,NaN,2,0.447,0.237,0.341,-0.130,2.0,both
2,3,Harold Varner III,54.86,50,57.0,8,0.566,-0.013,0.167,0.412,8.0,both
3,4,Adam Long,54.63,117,103.0,6,-0.368,-0.435,0.130,-0.063,6.0,both
4,5,Lucas Herbert,52.78,153,108.0,4,-1.073,0.219,-1.850,0.558,4.0,both
...,...,...,...,...,...,...,...,...,...,...,...,...
190,5,Aaron Rai,27.78,53,35.0,4,0.540,0.092,0.242,0.206,4.0,both
191,5,David Hearn,27.78,161,127.0,2,-1.354,-0.267,-1.129,0.042,2.0,both
192,10,Danny Lee,27.78,126,102.0,2,-0.563,0.118,-0.534,-0.147,2.0,both
193,11,Cohen Trolio,27.78,154,NaN,2,-1.080,0.144,-1.127,-0.097,2.0,both
194,10,Matt Wallace,25.00,133,NaN,2,-0.662,0.477,-0.175,-0.962,2.0,both

In [64]:
df.isnull().sum()

Rank                0
Name                0
One Putt %          0
Rank This Week      0
Rank Last Week     39
ROUNDS              0
AVERAGE             0
SG:OTT              0
SG:APR              0
SG:ARG              0
MEASURED ROUNDS     1
_merge              0
dtype: int64

In [65]:
df['_merge'].value_counts()

both          195
right_only      0
left_only       0
Name: _merge, dtype: int64

In [67]:
df = df.rename(columns={'AVERAGE': 'Average'})

In [68]:
first = df.loc[df['Name'] == 'Michael Kim']
first

,Rank,Name,One Putt %,Rank This Week,Rank Last Week,ROUNDS,Average,SG:OTT,SG:APR,SG:ARG,MEASURED ROUNDS,_merge
0,1,Michael Kim,66.67,193,155.0,1,-4.827,-2.834,-1.743,-0.25,1.0,both

In [72]:
calc = 0.25
first_calc = (first['Average'] * calc) + (first['SG:OTT'] * calc) + (first['SG:ARG'] * calc) + (first['SG:APR'] * calc)
first_calc

0   -2.4135
dtype: float64

In [74]:
df['Weight Avg'] = (df['Average'] * calc) + (df['SG:OTT'] * calc) + (df['SG:ARG'] * calc) + (df['SG:APR'] * calc) + (1 - (df['One Putt %'] * .1))

In [76]:
df

,Rank,Name,One Putt %,Rank This Week,Rank Last Week,ROUNDS,Average,SG:OTT,SG:APR,SG:ARG,MEASURED ROUNDS,_merge,Weight Avg
0,1,Michael Kim,66.67,193,155.0,1,-4.827,-2.834,-1.743,-0.250,1.0,both,-8.08050
1,2,Anirban Lahiri,55.56,60,NaN,2,0.447,0.237,0.341,-0.130,2.0,both,-4.33225
2,3,Harold Varner III,54.86,50,57.0,8,0.566,-0.013,0.167,0.412,8.0,both,-4.20300
3,4,Adam Long,54.63,117,103.0,6,-0.368,-0.435,0.130,-0.063,6.0,both,-4.64700
4,5,Lucas Herbert,52.78,153,108.0,4,-1.073,0.219,-1.850,0.558,4.0,both,-4.81450
...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,5,Aaron Rai,27.78,53,35.0,4,0.540,0.092,0.242,0.206,4.0,both,-1.50800
191,5,David Hearn,27.78,161,127.0,2,-1.354,-0.267,-1.129,0.042,2.0,both,-2.45500
192,10,Danny Lee,27.78,126,102.0,2,-0.563,0.118,-0.534,-0.147,2.0,both,-2.05950
193,11,Cohen Trolio,27.78,154,NaN,2,-1.080,0.144,-1.127,-0.097,2.0,both,-2.31800
194,10,Matt Wallace,25.00,133,NaN,2,-0.662,0.477,-0.175,-0.962,2.0,both,-1.83050

In [77]:
df.nlargest(10, ['Weight Avg'])

,Rank,Name,One Putt %,Rank This Week,Rank Last Week,ROUNDS,Average,SG:OTT,SG:APR,SG:ARG,MEASURED ROUNDS,_merge,Weight Avg
182,182,Mito Pereira,31.94,4,1.0,8,2.482,0.583,1.477,0.422,8.0,both,-0.95300
96,96,Sam Burns,40.28,1,NaN,4,3.706,1.538,2.071,0.097,4.0,both,-1.17500
170,161,James Hahn,33.33,8,7.0,2,2.150,0.976,1.671,-0.497,2.0,both,-1.25800
190,5,Aaron Rai,27.78,53,35.0,4,0.540,0.092,0.242,0.206,4.0,both,-1.50800
177,178,Joseph Bramlett,32.64,17,11.0,8,1.333,0.670,1.081,-0.419,8.0,both,-1.59775
186,6,Bill Haas,30.56,39,14.0,4,0.844,-0.399,-0.036,1.279,4.0,both,-1.63400
164,161,Chris Kirk,33.33,22,NaN,4,1.111,0.098,0.498,0.515,4.0,both,-1.77750
194,10,Matt Wallace,25.00,133,NaN,2,-0.662,0.477,-0.175,-0.962,2.0,both,-1.83050
187,7,K.H. Lee,30.56,62,NaN,2,0.423,0.835,-0.323,-0.089,2.0,both,-1.84450
143,142,Luke List,36.11,14,41.0,8,1.472,0.856,0.258,0.357,8.0,both,-1.87525

In [78]:
df_wei_avg = df.sort_values(by='Weight Avg', ascending=False)

In [80]:
df.nlargest(10, ['MEASURED ROUNDS'])

,Rank,Name,One Putt %,Rank This Week,Rank Last Week,ROUNDS,Average,SG:OTT,SG:APR,SG:ARG,MEASURED ROUNDS,_merge,Weight Avg
2,3,Harold Varner III,54.86,50,57.0,8,0.566,-0.013,0.167,0.412,8.0,both,-4.20300
14,15,C.T. Pan,47.92,29,48.0,8,1.055,-0.079,0.955,0.180,8.0,both,-3.26425
36,37,Nate Lashley,45.14,67,23.0,8,0.342,0.298,-0.077,0.122,8.0,both,-3.34275
44,38,Cameron Tringale,44.44,23,27.0,8,1.110,0.046,0.698,0.366,8.0,both,-2.88900
57,58,Michael Thompson,43.75,159,132.0,8,-1.297,-0.283,-0.440,-0.574,8.0,both,-4.02350
64,61,Nick Watney,43.06,57,30.0,8,0.473,0.193,0.144,0.136,8.0,both,-3.06950
70,71,Taylor Pendrith,42.36,88,73.0,8,0.059,0.596,-0.840,0.303,8.0,both,-3.20650
71,71,Sung Kang,42.36,128,50.0,8,-0.583,-0.628,0.061,-0.016,8.0,both,-3.52750
82,73,Paul Barjon,41.67,106,81.0,8,-0.240,-0.116,-0.271,0.147,8.0,both,-3.28700
89,90,Si Woo Kim,40.97,9,9.0,8,1.723,0.619,0.744,0.360,8.0,both,-2.23550

In [81]:
df.isnull().sum(axis = 0)

Rank                0
Name                0
One Putt %          0
Rank This Week      0
Rank Last Week     39
ROUNDS              0
Average             0
SG:OTT              0
SG:APR              0
SG:ARG              0
MEASURED ROUNDS     1
_merge              0
Weight Avg          0
dtype: int64

In [82]:
mean_value=df['Rank Last Week'].mean()

In [84]:
df['Rank Last Week'].fillna(value=int(175), inplace=True)
df

,Rank,Name,One Putt %,Rank This Week,Rank Last Week,ROUNDS,Average,SG:OTT,SG:APR,SG:ARG,MEASURED ROUNDS,_merge,Weight Avg
0,1,Michael Kim,66.67,193,155.0,1,-4.827,-2.834,-1.743,-0.250,1.0,both,-8.08050
1,2,Anirban Lahiri,55.56,60,175.0,2,0.447,0.237,0.341,-0.130,2.0,both,-4.33225
2,3,Harold Varner III,54.86,50,57.0,8,0.566,-0.013,0.167,0.412,8.0,both,-4.20300
3,4,Adam Long,54.63,117,103.0,6,-0.368,-0.435,0.130,-0.063,6.0,both,-4.64700
4,5,Lucas Herbert,52.78,153,108.0,4,-1.073,0.219,-1.850,0.558,4.0,both,-4.81450
...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,5,Aaron Rai,27.78,53,35.0,4,0.540,0.092,0.242,0.206,4.0,both,-1.50800
191,5,David Hearn,27.78,161,127.0,2,-1.354,-0.267,-1.129,0.042,2.0,both,-2.45500
192,10,Danny Lee,27.78,126,102.0,2,-0.563,0.118,-0.534,-0.147,2.0,both,-2.05950
193,11,Cohen Trolio,27.78,154,175.0,2,-1.080,0.144,-1.127,-0.097,2.0,both,-2.31800
194,10,Matt Wallace,25.00,133,175.0,2,-0.662,0.477,-0.175,-0.962,2.0,both,-1.83050

In [85]:
df['Rank Change'] = df['Rank Last Week'] - df['Rank This Week']

In [86]:
df

,Rank,Name,One Putt %,Rank This Week,Rank Last Week,ROUNDS,Average,SG:OTT,SG:APR,SG:ARG,MEASURED ROUNDS,_merge,Weight Avg,Rank Change
0,1,Michael Kim,66.67,193,155.0,1,-4.827,-2.834,-1.743,-0.250,1.0,both,-8.08050,-38.0
1,2,Anirban Lahiri,55.56,60,175.0,2,0.447,0.237,0.341,-0.130,2.0,both,-4.33225,115.0
2,3,Harold Varner III,54.86,50,57.0,8,0.566,-0.013,0.167,0.412,8.0,both,-4.20300,7.0
3,4,Adam Long,54.63,117,103.0,6,-0.368,-0.435,0.130,-0.063,6.0,both,-4.64700,-14.0
4,5,Lucas Herbert,52.78,153,108.0,4,-1.073,0.219,-1.850,0.558,4.0,both,-4.81450,-45.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,5,Aaron Rai,27.78,53,35.0,4,0.540,0.092,0.242,0.206,4.0,both,-1.50800,-18.0
191,5,David Hearn,27.78,161,127.0,2,-1.354,-0.267,-1.129,0.042,2.0,both,-2.45500,-34.0
192,10,Danny Lee,27.78,126,102.0,2,-0.563,0.118,-0.534,-0.147,2.0,both,-2.05950,-24.0
193,11,Cohen Trolio,27.78,154,175.0,2,-1.080,0.144,-1.127,-0.097,2.0,both,-2.31800,21.0
194,10,Matt Wallace,25.00,133,175.0,2,-0.662,0.477,-0.175,-0.962,2.0,both,-1.83050,42.0

In [87]:
df_rank = df.sort_values(by='Rank Change', ascending=False)

In [88]:
df_rank.head(10)

,Rank,Name,One Putt %,Rank This Week,Rank Last Week,ROUNDS,Average,SG:OTT,SG:APR,SG:ARG,MEASURED ROUNDS,_merge,Weight Avg,Rank Change
96,96,Sam Burns,40.28,1,175.0,4,3.706,1.538,2.071,0.097,4.0,both,-1.17500,174.0
75,73,Henrik Norlander,41.67,7,175.0,4,2.190,-0.599,2.099,0.690,4.0,both,-2.07200,168.0
27,27,Corey Conners,45.83,10,175.0,4,1.699,0.748,0.853,0.098,4.0,both,-2.73350,165.0
38,38,Martin Laird,44.44,12,175.0,2,1.637,1.135,0.041,0.461,2.0,both,-2.62550,163.0
26,27,Aaron Wise,45.83,13,175.0,4,1.525,0.700,-0.615,1.440,4.0,both,-2.82050,162.0
56,38,Matthew Wolff,44.44,16,175.0,4,1.428,0.581,0.380,0.467,4.0,both,-2.73000,159.0
137,135,Eugenio Lopez-Chacarra,37.50,19,175.0,4,1.263,1.269,0.017,-0.022,4.0,both,-2.11825,156.0
48,38,Sungjae Im,44.44,20,175.0,4,1.165,0.348,-0.577,1.394,4.0,both,-2.86150,155.0
164,161,Chris Kirk,33.33,22,175.0,4,1.111,0.098,0.498,0.515,4.0,both,-1.77750,153.0
55,38,Davis Thompson,44.44,27,175.0,4,1.077,0.501,0.161,0.416,4.0,both,-2.90525,148.0

In [89]:
df_no_cut = df.loc[df['ROUNDS'] % 4 == 0]

In [90]:
df_no_cut.nlargest(10, ['Weight Avg'])

,Rank,Name,One Putt %,Rank This Week,Rank Last Week,ROUNDS,Average,SG:OTT,SG:APR,SG:ARG,MEASURED ROUNDS,_merge,Weight Avg,Rank Change
182,182,Mito Pereira,31.94,4,1.0,8,2.482,0.583,1.477,0.422,8.0,both,-0.95300,-3.0
96,96,Sam Burns,40.28,1,175.0,4,3.706,1.538,2.071,0.097,4.0,both,-1.17500,174.0
190,5,Aaron Rai,27.78,53,35.0,4,0.540,0.092,0.242,0.206,4.0,both,-1.50800,-18.0
177,178,Joseph Bramlett,32.64,17,11.0,8,1.333,0.670,1.081,-0.419,8.0,both,-1.59775,-6.0
186,6,Bill Haas,30.56,39,14.0,4,0.844,-0.399,-0.036,1.279,4.0,both,-1.63400,-25.0
164,161,Chris Kirk,33.33,22,175.0,4,1.111,0.098,0.498,0.515,4.0,both,-1.77750,153.0
143,142,Luke List,36.11,14,41.0,8,1.472,0.856,0.258,0.357,8.0,both,-1.87525,27.0
158,157,Austin Smotherman,34.72,21,21.0,4,1.130,1.026,0.033,0.071,4.0,both,-1.90700,0.0
152,142,Nick Hardy,36.11,25,24.0,8,1.094,0.493,0.770,-0.169,8.0,both,-2.06400,-1.0
75,73,Henrik Norlander,41.67,7,175.0,4,2.190,-0.599,2.099,0.690,4.0,both,-2.07200,168.0

In [98]:
df.loc[df['Rank Last Week'] == 62.0]

,Rank,Name,One Putt %,Rank This Week,Rank Last Week,ROUNDS,Average,SG:OTT,SG:APR,SG:ARG,MEASURED ROUNDS,_merge,Weight Avg,Rank Change
76,73,Vaughn Taylor,41.67,70,62.0,4,0.281,-0.163,0.332,0.113,4.0,both,-3.02625,-8.0
171,161,Danny Willett,33.33,70,62.0,2,0.281,0.336,-0.541,0.486,2.0,both,-2.19250,-8.0

In [45]:
df_all.columns

Index(['Rank', 'Name', 'One Putt %', 'Rank This Week', 'Rank Last Week',
       'ROUNDS', 'Average', 'SG:OTT', 'SG:APR', 'SG:ARG', 'MEASURED ROUNDS',
       '_merge', 'Weight Avg', 'Rank Change'],
      dtype='object')

In [ ]:
X = df_all.drops(columns=[''])